/**/
.page {
    height: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

html .page {
    scroll-behavior: smooth;
}

.text__span-accent {
    font-weight: bold;
}

.text__italic {
    font-style: italic;
}